﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Termodinamik Hesap Makinesi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
                <img src="~/img/logo.png" alt="">
                <span class="d-none d-lg-block">ThermoCal</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#calculations-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-calculator"></i><span>Hesaplamalar</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="calculations-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-controller="Calculation" asp-action="AccelerationWork">
                            <i class="bi bi-circle"></i><span>İvme İşi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="AdiabaticEfficiencyNozzle">
                            <i class="bi bi-circle"></i><span>Adyabatik Lüle Verimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="AdiabaticEfficiencyOfCompressor">
                            <i class="bi bi-circle"></i><span>Adyabatik Kompresör Verimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="AdiabaticEfficiencyOfPump">
                            <i class="bi bi-circle"></i><span>Adyabatik Pompa Verimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="AdiabaticEfficiencyOfTurbine">
                            <i class="bi bi-circle"></i><span>Adyabatik Türbin Verimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="AdiabaticExponent">
                            <i class="bi bi-circle"></i><span>Adyabatik Üs Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="AdiabaticPhaseChange">
                            <i class="bi bi-circle"></i><span>Adyabatik Hal Değişimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="CarnotHeatPump">
                            <i class="bi bi-circle"></i><span>Carnot Isı Pompası Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="CarnotRefrigerator">
                            <i class="bi bi-circle"></i><span>Carnot Soğutma Makinesi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="CompressibilityMultiplier">
                            <i class="bi bi-circle"></i><span>Sıkıştırılabilme Çarpanı Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Compressor">
                            <i class="bi bi-circle"></i><span>Kompresör Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="ConstantPressurePhaseChange">
                            <i class="bi bi-circle"></i><span>Sabit Basınçlı Hal Değişimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="ConstantVolumePhaseChange">
                            <i class="bi bi-circle"></i><span>Sabit Hacimli Hal Değişimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="DegreeOfDryness">
                            <i class="bi bi-circle"></i><span>Kuruluk Derecesi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Diffuser">
                            <i class="bi bi-circle"></i><span>Yayıcı Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="ElectricalWork">
                            <i class="bi bi-circle"></i><span>Elektrik İşi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyBalanceForClosedSystem">
                            <i class="bi bi-circle"></i><span>Kapalı Sistemler için Entropi Dengesi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyBalanceForControlVolume">
                            <i class="bi bi-circle"></i><span>Kontrol Hacmi için Entropi Dengesi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyCalculationForSteadyFlowOpenSystem">
                            <i class="bi bi-circle"></i><span>Düzgün Akışlı Açık Sistemler için Entropi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyCalculationForUniformFlowBalancedOpenSystem">
                            <i class="bi bi-circle"></i><span>Uniform Akışlı Dengeli Açık Sistemler için Entropi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Entropy">
                            <i class="bi bi-circle"></i><span>Entropi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyChangeOfLiquid">
                            <i class="bi bi-circle"></i><span>Sıvılar için Entropi Değişimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyChangeOfPerfectGasesApproximate">
                            <i class="bi bi-circle"></i><span>Mükemmel Gazlar için Entropi Değişimi Hesaplama - Yaklaşık Çözüm</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyChangeOfPerfectGasesExact">
                            <i class="bi bi-circle"></i><span>Mükemmel Gazlar için Entropi Değişimi Hesaplama - Tam Çözüm</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyChangeOfPure">
                            <i class="bi bi-circle"></i><span>Saf Maddeler için Entropi Değişimini Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="EntropyChangeOfSolid">
                            <i class="bi bi-circle"></i><span>Katılar için Entropi Değişimini Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Exergy">
                            <i class="bi bi-circle"></i><span>Ekserji Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="FlexibleRodWork">
                            <i class="bi bi-circle"></i><span>Esnek Çubuklar için İş Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="FlowCalculationInDuct">
                            <i class="bi bi-circle"></i><span>Kanal Akışlarında Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="FlowCalculationInPipe">
                            <i class="bi bi-circle"></i><span>Boru Akışlarında Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="FlowWork">
                            <i class="bi bi-circle"></i><span>Akış İşi Hesaplama</span>
                        </a>
                    </li>
                <li>
                        <a asp-controller="Calculation" asp-action="GravityWork">
                            <i class="bi bi-circle"></i><span>Yerçekimi İşi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="HeatAndHeatTransfer">
                            <i class="bi bi-circle"></i><span>Isı ve Isı Transferi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="HeatEngine">
                            <i class="bi bi-circle"></i><span>Isı Makineleri için Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="HeatExchangers">
                            <i class="bi bi-circle"></i><span>Isı Değiştiricileri için Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="HeatPumpEfficiency">
                            <i class="bi bi-circle"></i><span>Isı Pompasında Verim Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="IdealGas">
                            <i class="bi bi-circle"></i><span>İdeal Gaz Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Irreversibility">
                            <i class="bi bi-circle"></i><span>Tersinirlik Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="IsentropicPhaseChangeOfPerfectGasesApproximate">
                            <i class="bi bi-circle"></i><span>Mükemmel Gazlar için İzantropik Hal Değişimi Hesaplama - Yaklaşık Çözüm</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="IsentropicPhaseChangeOfPerfectGasesExact">
                            <i class="bi bi-circle"></i><span>Mükemmel Gazlar için İzantropik Hal Değişimi Hesaplama - Tam Çözüm</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="IsothermalPhaseChange">
                            <i class="bi bi-circle"></i><span>İzotermal Hal Değişimi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="MassFlow">
                            <i class="bi bi-circle"></i><span>Kütlesel Debi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="MechanicalWork">
                            <i class="bi bi-circle"></i><span>Mekanik İş Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="MinimizeCompressorWork">
                            <i class="bi bi-circle"></i><span>Kompresör İşini En Aza İndirme Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="MixingChamber">
                            <i class="bi bi-circle"></i><span>Karışma Odaları için Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Nozzle">
                            <i class="bi bi-circle"></i><span>Lüle Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="PolytropicPhaseChange">
                            <i class="bi bi-circle"></i><span>Politropik Hal Değişimi Hesaplama</span>
                        </a>
                    </li>
                <li>
                        <a asp-controller="Calculation" asp-action="Pressure">
                            <i class="bi bi-circle"></i><span>Basınç Hesaplama</span>
                    </a>
                </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Pump">
                            <i class="bi bi-circle"></i><span>Pompa Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="ReducedPressureAndTemperature">
                            <i class="bi bi-circle"></i><span>İndirgenmiş Basınç ve Sıcaklık Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Refrigerator">
                            <i class="bi bi-circle"></i><span>Soğutma Makinesi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="RefrigeratorEfficiency">
                            <i class="bi bi-circle"></i><span>Soğutma Makineleri için Verim Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="ReversibleContinuousFlow">
                            <i class="bi bi-circle"></i><span>Tersinir Sürekli Akışlar için Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="ReversibleWork">
                            <i class="bi bi-circle"></i><span>Tersinir İş Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="SpindleWork">
                            <i class="bi bi-circle"></i><span>Mil İşi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="SpringWork">
                            <i class="bi bi-circle"></i><span>Yay İşi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="SteadyFlow">
                            <i class="bi bi-circle"></i><span>Düzgün Akışlar için Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="StressCalculationOfLiquidSurface">
                            <i class="bi bi-circle"></i><span>Sıvı Yüzeyler için Gerilme Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="ThrottleValve">
                            <i class="bi bi-circle"></i><span>Kısılma Vanası için Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="Turbine">
                            <i class="bi bi-circle"></i><span>Türbin Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="UsefulWork">
                            <i class="bi bi-circle"></i><span>Yararlı İş Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="VolumetricFlow">
                            <i class="bi bi-circle"></i><span>Hacimsel Debi Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="WorkConsumingDeviceEfficiency">
                            <i class="bi bi-circle"></i><span>İş Tüketen Makineler için Verim Hesaplama</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Calculation" asp-action="WorkProducingDeviceEfficiency">
                            <i class="bi bi-circle"></i><span>İş Üreten Makineler için Verim Hesaplama</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Calculations Nav -->
        </ul>
        @* <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Tablolar</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
        <a asp-controller="Table" asp-action="SaturatedWaterTemperature">
        <i class="bi bi-circle"></i><span>Doymuş Su - Sıcaklık Tabloları</span>
        </a>
        </li>
        <li>
        <a asp-controller="Table" asp-action="SaturatedWaterPressure">
        <i class="bi bi-circle"></i><span>Doymuş Su - Basınç Tabloları</span>
        </a>
        </li>
        <li>
        <a asp-controller="Table" asp-action="SaturatedR134ATemperature">
        <i class="bi bi-circle"></i><span>R134a - Sıcaklık Tabloları</span>
        </a>
        </li>
        <li>
        <a asp-controller="Table" asp-action="SaturatedR134APressure">
        <i class="bi bi-circle"></i><span>R134a - Basınç Tabloları</span>
        </a>
        </li>
        </ul>
        </li><!-- End Tables Nav -->
        </ul> *@

    </aside><!-- End Sidebar-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy;  <strong><span>Termodinamik Hesap Makinesi</span></strong>.
        </div>
        <div class="credits">
            Serhat Tomak tarafından yapılmıştır.
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/chart.js/chart.umd.js"></script>
    <script src="~/vendor/echarts/echarts.min.js"></script>
    <script src="~/vendor/quill/quill.min.js"></script>
    <script src="~/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>