<main id="main" class="main">
    <div class="pagetitle">
        <h1>Hesaplama</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item">Hesaplama</li>
                <li class="breadcrumb-item active">Sabit Basınçlı Hal Değişimi Hesaplama</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sabit Basınçlı Hal Değişimi Hesaplama</h5>

                        <!-- Floating Labels Form -->
                        <form class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="heat" placeholder="Isı">
                                    <label for="heat">Isı (Q)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="work" placeholder="İş">
                                    <label for="work">İş (W)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cV" placeholder="Özgül Isı (Cv)">
                                    <label for="cV">Özgül Isı (Cv)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cP" placeholder="Özgül Isı (Cp)">
                                    <label for="cP">Özgül Isı (Cp)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="mass" placeholder="Kütle">
                                    <label for="mass">Kütle (m)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="r" placeholder="Gaz Sabiti">
                                    <label for="R">Gaz Sabiti (R)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="pressure" placeholder="Basınç">
                                    <label for="pressure">Basınç (P)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="vFirst" placeholder="İlk Hacim">
                                    <label for="vFirst">İlk Hacim (V1)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="vSecond" placeholder="Son Hacim">
                                    <label for="vSecond">Son Hacim (V2)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="tFirst" placeholder="İlk Sıcaklık">
                                    <label for="tFirst">İlk Sıcaklık (T1)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="tSecond" placeholder="Son Sıcaklık">
                                    <label for="tSecond">Son Sıcaklık (T2)</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" id="calculate">Hesapla</button>
                                <button type="reset" class="btn btn-secondary">Sıfırla</button>
                            </div>
                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>