<main id="main" class="main">
    <div class="pagetitle">
        <h1>Hesaplama</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item">Hesaplama</li>
                <li class="breadcrumb-item active">Mükemmel Gazların İzentropik Faz Değişimi Hesaplama - Tam Çözüm</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mükemmel Gazların İzentropik Faz Değişimi Hesaplama - Tam Çözüm</h5>

                        <!-- Floating Labels Form -->
                        <form class="row g-3" id="isentropicPhaseChangeExactForm">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="s" name="S" placeholder="Entropi (S)">
                                    <label for="s">Entropi (S)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="sZeroFirst" name="SZeroFirst" placeholder="İlk Referans Entropi (S0,1)">
                                    <label for="sZeroFirst">İlk Referans Entropi (S0,1)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="sZeroSecond" name="SZeroSecond" placeholder="İkinci Referans Entropi (S0,2)">
                                    <label for="sZeroSecond">İkinci Referans Entropi (S0,2)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="r" name="R" placeholder="Gaz Sabiti (R)">
                                    <label for="r">Gaz Sabiti (R)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="p" name="P" placeholder="Basınç (P)">
                                    <label for="p">Basınç (P)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="pFirst" name="PFirst" placeholder="İlk Basınç (P1)">
                                    <label for="pFirst">İlk Basınç (P1)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="pSecond" name="PSecond" placeholder="İkinci Basınç (P2)">
                                    <label for="pSecond">İkinci Basınç (P2)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="pr" name="Pr" placeholder="İndirgenmiş Basınç (Pr)">
                                    <label for="pr">İndirgenmiş Basınç (Pr)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="prFirst" name="PrFirst" placeholder="İlk İndirgenmiş Basınç (Pr1)">
                                    <label for="prFirst">İlk İndirgenmiş Basınç (Pr1)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="prSecond" name="PrSecond" placeholder="İkinci İndirgenmiş Basınç (Pr2)">
                                    <label for="prSecond">İkinci İndirgenmiş Basınç (Pr2)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="vSpecific" name="VSpecific" placeholder="Özgül Hacim (v)">
                                    <label for="vSpecific">Özgül Hacim (v)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="vSpecificFirst" name="VSpecificFirst" placeholder="İlk Özgül Hacim (v1)">
                                    <label for="vSpecificFirst">İlk Özgül Hacim (v1)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="vSpecificSecond" name="VSpecificSecond" placeholder="İkinci Özgül Hacim (v2)">
                                    <label for="vSpecificSecond">İkinci Özgül Hacim (v2)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="vSpecificR" name="VSpecificR" placeholder="İndirgenmiş Özgül Hacim (vr)">
                                    <label for="vSpecificR">İndirgenmiş Özgül Hacim (vr)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="vSpecificRFirst" name="VSpecificRFirst" placeholder="İlk İndirgenmiş Özgül Hacim (vr1)">
                                    <label for="vSpecificRFirst">İlk İndirgenmiş Özgül Hacim (vr1)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="vSpecificRSecond" name="VSpecificRSecond" placeholder="İkinci İndirgenmiş Özgül Hacim (vr2)">
                                    <label for="vSpecificRSecond">İkinci İndirgenmiş Özgül Hacim (vr2)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="t" name="T" placeholder="Sıcaklık (T)">
                                    <label for="t">Sıcaklık (T)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="tFirst" name="TFirst" placeholder="İlk Sıcaklık (T1)">
                                    <label for="tFirst">İlk Sıcaklık (T1)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="tSecond" name="TSecond" placeholder="İkinci Sıcaklık (T2)">
                                    <label for="tSecond">İkinci Sıcaklık (T2)</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" id="calculate">Hesapla</button>
                                <button type="reset" class="btn btn-secondary">Sıfırla</button>
                            </div>
                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
